In [1]:
import numpy as np
from tqdm import tqdm
import pandas as po
import matplotlib.pyplot as plt

In [2]:
df = po.read_csv('/home/varun/Desktop/Projects/EnergyTheft/data/processed/EnergyConsumption_processed.csv')

In [3]:
df

,2014/1/1,2014/1/2,2014/1/3,2014/1/4,2014/1/5,2014/1/6,2014/1/7,2014/1/8,2014/1/9,2014/1/10,...,2016/10/23,2016/10/24,2016/10/25,2016/10/26,2016/10/27,2016/10/28,2016/10/29,2016/10/30,2016/10/31,FLAG
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,13.130,0.00,...,8.070000,8.090000,9.530000,5.480000,8.750000,9.300000,7.540000,9.160000,6.740000,1
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,...,13.610504,13.610504,13.610504,13.610504,13.610504,13.610504,13.610504,13.610504,13.610504,1
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.035,0.00,...,15.120000,17.260000,14.910000,19.590000,20.790000,17.950000,19.260000,14.460000,11.720000,1
4,2.90,5.64,6.99,3.32,3.61,5.35,4.73,3.68,3.530,3.42,...,10.220000,8.470000,6.110000,6.100000,6.730000,7.520000,10.890000,9.860000,8.720000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42367,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.310,0.00,...,3.100000,2.750000,3.010000,2.990000,2.830000,2.540000,3.400000,3.590000,2.540000,0
42368,2.70,0.00,0.00,5.72,6.05,5.81,3.07,4.04,5.680,4.39,...,6.620000,3.120000,5.160000,3.620000,4.640000,3.710000,6.220000,6.050000,4.770000,0
42369,0.58,1.16,0.92,0.98,1.54,1.38,0.89,0.70,1.230,0.84,...,0.610000,0.650000,0.550000,0.490000,0.510000,0.790000,0.660000,0.390000,0.650000,0
42370,16.89,15.15,19.28,17.19,16.80,17.48,17.86,23.99,12.340,13.84,...,16.480000,13.040000,10.390000,12.000000,11.150000,12.220000,13.160000,13.330000,10.390000,0
42371,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.00,...,12.161244,8.350000,8.680000,6.390000,7.960000,8.130000,11.500000,7.160000,5.250000,0

In [4]:
x = df.drop('FLAG', axis=1)
y = df['FLAG']

In [5]:
x_mean = po.DataFrame()
x_median = po.DataFrame()
for i in tqdm(range(len(x))):
    x_mean = x_mean.append(x.iloc[i].replace(0, x.iloc[i].mean()))
    x_median = x_median.append(x.iloc[i].replace(0, x.iloc[i].median()))

100%|██████████| 42372/42372 [40:54<00:00, 17.26it/s]

In [8]:
x_mean['FLAG'] = y
x_median['FLAG'] = y
x_mean.to_csv('mean.csv', index=False)
x_median.to_csv('median.csv', index=False)
del x_mean
del x_median

In [9]:
x_interp = po.DataFrame()
x_spline = po.DataFrame()
for i in tqdm(range(len(x))):
    try: 
        x_interp = x_interp.append(x.iloc[i].replace(0, np.nan).reset_index(drop=True).interpolate(method='polynomial', order=3).fillna(method='bfill'))
        x_spline = x_spline.append(x.iloc[i].replace(0, np.nan).reset_index(drop=True).interpolate(method='spline', order=3).fillna(method='bfill'))
    except:
        x_interp = x_interp.append(x.iloc[i].replace(0, np.nan).fillna(method='ffill').fillna(method='bfill'))
        x_spline = x_spline.append(x.iloc[i].replace(0, np.nan).fillna(method='ffill').fillna(method='bfill'))

100%|██████████| 42372/42372 [1:23:26<00:00,  8.46it/s]

In [10]:
x_interp['FLAG'] = y
x_spline['FLAG'] = y
x_interp.to_csv('interp.csv', index=False)
x_spline.to_csv('spline.csv', index=False)
del x_interp
del x_spline

In [11]:
x_locf = po.DataFrame()
for i in tqdm(range(len(x))):
    x_locf = x_locf.append(x.iloc[i].replace(0, np.nan).fillna(method='ffill').fillna(method='bfill'))

100%|██████████| 42372/42372 [20:34<00:00, 34.33it/s]

In [12]:
x_locf['FLAG'] = y
x_locf.to_csv('locf.csv', index=False)
del x_locf

In [7]:
"""
x.iloc[0].replace(0, np.nan).reset_index(drop=True)
x.iloc[0].replace(0, np.nan).reset_index(drop=True).isnull().sum()
x.append(x.iloc[0].replace(0, np.nan).fillna(method='ffill').fillna(method='bfill'))
x.iloc[0].replace(0, np.nan).fillna(method='ffill').fillna(method='bfill')
x.iloc[0].replace(0, np.nan).reset_index(drop=True).interpolate(method='polynomial', order=3).fillna(method='bfill')
"""

"\nx.iloc[0].replace(0, np.nan).reset_index(drop=True)\nx.iloc[0].replace(0, np.nan).reset_index(drop=True).isnull().sum()\nx.append(x.iloc[0].replace(0, np.nan).fillna(method='ffill').fillna(method='bfill'))\nx.iloc[0].replace(0, np.nan).fillna(method='ffill').fillna(method='bfill')\nx.iloc[0].replace(0, np.nan).reset_index(drop=True).interpolate(method='polynomial', order=3).fillna(method='bfill')\n"

In [6]:
"""
l = df.iloc[42370]
plt.plot(l.tolist())
# number of missing values
(l==0.0).sum()
# number of missing values
(x==0.0).sum(axis=1)
"""

'\nl = df.iloc[42370]\nplt.plot(l.tolist())\n# number of missing values\n(l==0.0).sum()\n# number of missing values\n(x==0.0).sum(axis=1)\n'